#friendFinderMap {
    width: 650px;
    height: 450px;
}
.weatherModule {
    background:#f2f2f2;
    height:373px;
    width:350px;
    border: 1px dashed #ccc;
    padding: 1em;
    position: absolute;
    left:660px;
    top:90px;
}
.currentConditions {
    float: left;
}
.weatherModule {
    padding: 1em;
}

.currentIcon {
    float: left;
    margin: 0 .75em;
}
