<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
   
  </head>
  <body ng-app="starter" ng-controller="NotifyCtrl">
      <ion-nav-view></ion-nav-view>    
     
    <script id="templates/tabs.html" type="text/ng-template">
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Login" icon-off="ion-log-in" icon-on="ion-log-in" href="#/tabs/tasks">
    <ion-nav-view name="Login"></ion-nav-view>
    </ion-tab>
     <ion-tab title="Task" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tabs/tasks">
   
         <ion-nav-view name="Task"></ion-nav-view>
 
          
      
  </ion-tab>
</ion-tabs>

    </script>
      <script id="templates/login.html" type="text/ng-template">
    <ion-view view-title="Login"  ng-controller="loginCtrl">
        <ion-header-bar class="bar-balanced">
        <h1 class="title">Login</h1>
          
        </ion-header-bar>
    <ion-content padding="true" class="has-header">
         
        <form>
            <label class="item item-input" name="Uname">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username">
            </label>
            <label class="item item-input" name="Pwd">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password">
            </label>
        </form>
        <button class="button button-calm" ng-click="gotoTask()">Login</button>
    </ion-content>
</ion-view>
      </script>
      <script id="templates/notify.html" type="text/ng-template">
    <ion-view view-title="Notifications">
          <ion-header-bar class="bar-positive">
      <h1 class="title">
        Local notifications
        </h1>
        <button class="button button-clear button-light" ng-click="openModal()">
        <i class="icon ion-compose"></i>Add
        </button>
      </ion-header-bar>
      <ion-content>
      <ion-list>
          <ion-item ng-show="!messagesStore.length">
          No notification
          </ion-item>
          <ion-item ng-show="result.length" ng-repeat="message in messagesStore" item="message">
          <h2>{{message}}</h2>
              <ion-option-button class="icon-left ion-trash-a button-assertive" ng-click="cancelNotification(r.id)">
              Cancel</ion-option-button>
          </ion-item>
          </ion-list>
      </ion-content>
        </ion-view>
          </script>
      <script id="new-notify.html" type="text/ng-template">
      <div class="modal">
          <ion-header-bar class="bar-positive">
          <h1 class="title">
              New notification
              </h1>
              <button class="button button-clear button-light" ng-click="closeModal()">Cancel</button>
          </ion-header-bar>
          <ion-content>
          <form ng-submit="addNotification(task)">
        <div class="list">
              <div class="item item-divider">Schedule notifications</div>
              
              <label class="item item-input">
            <input type="text" placeholder="Enter notification id" ng-model="task.id">
                  
            </label>
            <label class="item item-input">
            <input type="text" placeholder="Enter notification message" ng-model="task.msg">
                
            </label>
              </div>                                        <div class="padding">
              <button type="submit" class="button button-block button-positive">
              Schedule</button>
              </div>
                                                </form>
          </ion-content>
          </div>
      </script>
     <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="ng-cordova.min.js"></script>
      <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>  
    </body>
</html>
