
<ion-view title="User resgistration" ng-controller="registrationCtrlr">
    <ion-header-bar class="bar-positive">
                  <h1 class="title">User registration</h1>
                 <button class="button button-icon" ng-click="goToLogin()">Login
        <i class="icon ion-log-in"></i>
      </button>
                  </ion-header-bar>
    <ion-content padding="true" scroll="false" class="has-header">
        
        <form >
    
                <div class="row">
            <div class="col">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input id="txt_uname" type="email" placeholder="Email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input id="txt_pwd" type="password" placeholder="Password">
                </label>
                <label class="item item-input">
                    <span class="input-label">Re enter</span>
                    <input type="password" placeholder="Password">
                </label>
                <label class="item item-input">
                    <span class="input-label">Mobile</span>
                    <input id="txt_mobile" type="tel" placeholder="Mobile" maxlength="10">
                </label>
                 <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input id="txt_name" type="text" placeholder="Nick name">
                </label>
                </div>
                </div>
                <div class="row">
                   <div class="col">
                               <img id="userImage">
             </div>
                    </div>


            <div class="row">
                <div class="col">
                <button id="btn_Camera" class="button button-dark button-block button-shape" ng-click="pictureCollect($event)">Take Picture
                <i class="ion-ios-camera-outline">
                    
                    </i>
                   </button>
                </div>
            </div>
            
          <div class="row">
                <div class="col">
             <button id="btn_SignUp" class="button button-royal button-block button-shape hide" ng-submit="completeRegistration()">Sign up
            <i class="ion-ios-compose-outline">
                 
                 </i>
            </button>
              </div>
            </div>
            <div class="row">
            <div class="col">
                 <label class="item item-input">
                    <span class="input-label">Image URL</span>
                    <input id="txt_URL" type="text" placeholder="In case you cannot upload image upload an image URL" ng-blur="getImageResults()">
                </label>
                </div>
            </div>
            
        </form>
    </ion-content>
</ion-view>
